# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.xls
*.xlsx

# Carpetas - Entorno
target
target/
target/site/
target/site/serenity/
.idea
.gradle
.tmp
caches
daemon
native
wrapper
jdks
workers
build

# Se Ignora los archivos gradlew y gradlew.bat
gradlew
gradlew.bat